.send {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  height: 100vh;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 0;

  cursor: pointer;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputs {
  width: 30rem;
  border-radius: 0.4rem;
  background-color: white;
  color: black;
  padding: 0.8rem;

  outline: none;
}

.inputs::-webkit-inner-spin-button,
.inputs::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.inputs {
  appearance: textfield;
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.btnConfirm {
  background-color: green;
}

.btnCancel {
  background-color: red;
}

.token {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  text-align: left;
}
